body {
    font-family: sans-serif;
    background-image: linear-gradient(pink, white);
    box-sizing: border-box;
}


html{
  height: 100%;
}

.list-items{
  list-style-type: none;
}

.submit-button{

}

